.sobrenos
    width: 100%
    background: url(../../img/bg-sobre1.jpg)
    background-position: center
    background-repeat no-repeat
    background-size: cover
    padding-bottom: 50px
    position relative
    overflow: hidden
    .sobrenos__post
        padding-right: 320px
        position: relative
        @media(max-width:992px)
            padding-right: 0px
    .sobrenos__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 198px
        color: #323232
        @media(max-width:992px)
            padding-top: 145px
    .sobrenos__titulo
        font-size: 48px
        font-weight: bold
        line-height: 40px
        @media(max-width:992px)
            font-size: 28px
    .sobrenos__subtitulo
        font-size: 48px
        font-weight: 900
        line-height: 60px
        @media(max-width:992px)
            font-size: 28px
            line-height: 30px
    .sobrenos__texto
        display: block
        font-size: 14px
        font-weight: 400
        line-height: 25px
        padding-right: 70px
        width: 100%
        @media(max-width:992px)
            padding-right: 0px
    .sobrenos__divisor
        height 1px
        width: 145px
        background: #323232
        margin: 27px 0
    .sobrenos__conteudo
        display: block
    .sobrenos__imagem
        position: absolute
        left: calc(100% - 320px)
        bottom: -53px
        transition: all .5s ease-in-out
        opacity 0
        transform: translate3d(0, -200%, 0)
        @media(max-width:992px)
            display: none
        img
            max-width none
    .sobrenos__imagem--animacao
        opacity 1
        transform: translate3d(0, 0, 0)
.equipe
    width: 100%
    background-position: center
    background-repeat no-repeat
    background-size: cover
    background: url(../../img/bg-sobre2.jpg)
    position relative
    color: #323232
    @media(max-width: 992px)
        height auto
        padding-bottom: 45px
    .equipe__container
        max-width: 1040px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 80px
        padding-bottom: 65px
        overflow hidden
    .equipe__conteudo
        max-width: 750px
        @media(max-width: 992px)
            text-align: center
            width: 100%
            max-width: 100%
    .equipe__titulo
        display: flex
        align-items: center
        margin-bottom: 15px
        @media(max-width: 992px)
            justify-content: center!important
            flex-wrap: wrap
    .equipe__nome
        font-size: 18px
        font-weight: bold
        margin-right: 5px
        @media(max-width: 992px)
            display: block
            width: 100%
            text-align: center
    .equipe__cargo
        font-size: 18px
        font-weight: 400
    .equipe__texto
        font-size: 14px
        font-weight: 400
        line-height: 25px
    .equipe__item
        display flex
        align-items: center
        margin-bottom: 60px
        @media(max-width: 992px)
            flex-wrap: wrap!important
            justify-content: center!important
        &:last-child
            margin-bottom: 0
        &:nth-child(odd)
            justify-content: flex-start
            transition: all .5s ease-in-out
            transform: translate3d(-200%, 0, 0)
            .equipe__img
                margin-right: 30px
                @media(max-width: 992px)
                    margin-right: 0px
        &:nth-child(even)
            justify-content: flex-end
            transition: all .5s ease-in-out
            transform: translate3d(200%, 0, 0)
            .equipe__img
                order: 1
                margin-left: 30px
                @media(max-width: 992px)
                    margin-left: 0px
                    order: 0
            .equipe__conteudo
                text-align: right
                @media(max-width: 992px)
                    text-align: center
            .equipe__titulo
                justify-content: flex-end
                @media(max-width: 992px)
                    justify-content: flex-start

        &--animacao
            &:nth-child(odd)
                transform: translate3d(0, 0, 0)
            &:nth-child(even)
                transform: translate3d(0, 0, 0)
.parceiros
    width: 100%
    background: #ffffff
    .parceiros__container
        max-width: 1170px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        border-bottom: 1px solid #DDDDDD
        padding-top: 30px
        padding-bottom: 50px
        margin-bottom: 32px
    .parceiros__titulo
        font-size: 48px
        color: #323232
        font-weight: bold
        line-height: 60px
    .parceiros__divisor
        height 1px
        width: 145px
        background: #323232
        margin: 30px 0
    .parceiros__lista
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap
        @media(max-width: 425px)
            justify-content: center
    .parceiros__item
        margin-right: 50px
        @media(max-width: 425px)
            margin-right: 0px
            margin-bottom: 30px
            flex: 0 0 100%
            text-align: center