html
    font-size: 62.5%
    -webkit-text-size-adjust: 100%
    body
        font-size 1.6rem
        color #222
        main 
            > div > div > div > section.elementor-element.elementor-element-6ec9dcd.collection_info.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section
                margin-top 0 !important
        .collections
            font-size 16px
            
            .elementor-inner
                .collection_list
                    margin-top 50px
                    margin-bottom 50px
                    .elementor-widget-button
                        margin-bottom 10px !important
                    .elementor-widget-container
                        .elementor-text-editor
                            p
                                color #777
                                font-size 1.4rem
                                font-weight 400
                                margin-bottom 35px

                .collection_info
                    margin-top 40px
                    .elementor-container
                        .elementor-widget-container
                            h2
                                font-size 4rem !important
                                color #333
                                font-weight bold !important

                            p
                                font-weight 400
                                color #333
                                font-size 2.4rem
                                line-height initial
            .elementor-column-gap-default
                
                .elementor-element
                    .elementor-element-populated
                        padding-bottom 5px
                        padding-top 0
                    .elementor-widget-heading
                        .elementor-widget-container
                            h2
                                font-size 4rem
                                color #333
                                font-weight bold

                    .elementor-text-editor 
                        font-size 16px
                        p
                            font-weight 400
                            color #333
                            font-size 2.4rem
                            line-height initial
                .elementor-element 
                    .elementor-widget:not(:last-child)
                        margin-bottom 0
                    .elementor-widget-heading
                        .elementor-widget-container
                            .elementor-size-default
                                font-size 3rem
                                font-weight 300

                    .elementor-icon-list-items
                        margin-top 45px
                        margin-bottom 20px
                        i
                            
                            &, &:before
                                width 20px
                                height 20px
                                font-size 20px
                    h4
                        font-size 1.8rem
                        color #aaa
                        font-weight 300

                    .attribute
                        &, & p
                            color #666666
                            font-size 1.5rem
                            font-weight 400
                            margin-bottom 15px
