.footer
    .footer__container
        max-width: 1170px 
        width: 100%
        padding: 0 15px
        margin: 0 auto
        padding-top: 28px
        padding-bottom: 71px
    .footer__copyright
        display: block
        text-align: center
        font-size: 12px
        color: #AFAFAF
        margin-bottom: 17px
    .footer__auaha
        display: block
        margin: 0 auto