.header-full
    position: absolute
    left: 0
    right: 0
    z-index:9
    transition: all .3s ease-in-out
    max-width 100%
    border-bottom: 1px solid #ffffff38

    @media(max-width: 991px)
        top: 0px 
.scroll-down
    .header-full
        position: fixed
        width: 100%
        z-index: 99
        top: 0
        background: #000000b5
        padding: 5px 0

        .logo_img
            img 
                max-width: 110px

.logo_img
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 0
    width: 18%
    text-align center

    @media(max-width: 991px)
        width 28%

.icons__hover
    &:hover
        svg  
            fill: #000
.nav_menu
    width: 100%
    ul
        display: flex
        justify-content: space-between
        flex-wrap: nowrap
        align-items: center
        width: 100%
        @media(max-width: 991px)
            display: block
            padding 0 15px

        li
            display: flex
            align-items: center
            margin: 15px 0
            a
                color: #fff
                text-transform: uppercase
                font-size: 14px
                font-weight: 400
                transition: all 150ms ease-in-out 
                letter-spacing: 0.2px
                text-shadow 0 0  
                
                @media(max-width: 991px)
                    color #000

                &:focus
                    outline: none
                    text-decoration: none

                &:hover
                    text-decoration: none
                    color #badab5
 

html
    margin 0!important 
    
#menu-menu-1
    max-width 350px

#menu-menu2
    max-width 350px

.social-menu.second nav.nav_menu 
    display: flex
    justify-content: flex-end


.menu-item
    position: relative
    display: flex
    align-items: center

.menu__menu
    img 
        margin-right: 10px
    a 
        color: #cccccc
        font-weight: 700
        font-size: 12px
        display: flex
        align-items: center

        &:hover
            text-decoration: none

.menu__logo
    display: flex
    flex-wrap: wrap
    max-width: 265px
    width: 100%
    justify-content: space-between
    align-items: center

    @media(max-width: 1000px)
        max-width: 80px

.search--menu 
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    @media(max-width: 420px)
        a
            font-size: 0

.menu-header
    max-width: 1570px
    padding: 20px 15px
    margin: 0 auto
    width: 100%
    transition: all .3s ease-in-out;
    .container
        padding: 0!important
        display: flex
        align-items: center
        justify-content: space-between

    .container
        .row
            display: flex
            justify-content: space-between
            align-items: center
            height: 100px
            flex-wrap: nowrap
            padding: 0 15px
            width: 100%

            @media(max-width:992px)
                padding: 0 15px

li#menu-item-33 
    border: 1px solid
    border-radius: 25px
    padding: 8px 20px

    &:hover
        a  
            color: #ffcc1a
            cursor: pointer

        border: 1px solid #ffcc1a


.left__info 
    max-width: 315px
    width: 100%

    ul  
        display: flex
        justify-content: flex-start
        align-items: center

        @media(max-width: 992px)
            flex-wrap: wrap

            li  
                margin: 10px 0

.email__topo, 
.telefone__topo
    font-size: 13px
    text-transform: uppercase
    font-weight: 700
    display: flex
    align-items: center

.email__topo  
    &:before  
        background: url(../../img/mail.png)
        content: ''
        display: block  
        position: relative
        width 20px
        height 15px
        background-repeat: no-repeat
        margin-right: 5px

.telefone__topo
    margin-right: 27px

    &:before
        background: url(../../img/zap.png)
        content: ''
        display: block  
        position: relative
        width 20px
        background-repeat: no-repeat
        height 20px
        margin-right: 5px

.social-menu
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    width: 100%;
    max-width: 535px;
    .nav_menu
        min-width: 100%

.social
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: nowrap
    width: 60px

    a
        display: flex
        align-items: center
        flex-wrap: nowrap
        justify-content: space-between

.menu-resp
    display: none;

    @media(max-width:992px)
        display: block;
        width: 100%
    .menu-resp-pic
        display: flex;
        align-items: center;
        justify-content: space-between;

.logo_img_resp
    display: none!important

    @media(max-width:1000px)
        display: block!important

.single--page 
    margin-top: 20px
    padding: 0

.menu-resp
    display none

    .nav_menu
        display: block;
        margin-top: 20px

    .social
        display: flex;
        margin-top: 10px

@media (min-width: 992px) and (max-width: 1200px)
    .side-right
        flex: 0 0 25%
    .left
        flex: 0 0 75%
    .conteudo-post
        padding: 20px

    .footer-left
        flex: 0 0 50%

@media (max-width: 992px)
    .left
        flex 0 0 100%
    .menu-resp
        display block
    .slide-menu-open
        svg 
            width: 32px
    .cat-nome h3
        text-align center

    .topo p
        justify-content center!important

    .conteudo-post
        padding: 5px
        flex: 0 0 50%

    .side-right
        margin: 30px auto
        width: 100%!important
        flex: 0 0 100%
        max-width: 100%!important

    .lista-menu
        display: none

    section#media_image-2
        margin: 0 auto
        text-align: center

    .vejamais
        width: 95%!important
        margin: 0 auto 50px

    .footer-left
        max-width 100%
        justify-content: space-around

    .footer-right
        max-width 100%
        justify-content: space-around

    .facebook
        text-align center

    .assinatura
        text-align center



@media (max-width: 576px)

    .side-right
        margin-top: 50px

    .conteudo-post
        flex: 0 0 100%
        margin: 0 auto

    .side-right
        flex: 0 0 95%

    .footer-left
        flex-wrap wrap
        text-align center
        margin-top: 50px

        ul
            width 100%

    .footer-right
        flex-wrap wrap
        text-align center

        ul
            width 100%

    input.search-submit
        right: 50px!important

    body.post-template-default.single.single-post  .left
        padding 10px

    .logo a img
        transform: scale(0.8)

@media (max-width: 350px)
    .facebook
        display none

.side-menu-wrapper 
    overflow: hidden
    background: #fff
    padding: 15px 0
    position: fixed
    top: 0
    left: -300px
    height: 100%
    z-index: 2
    transition: 0.5s
    width: 300px
    font: 20px
    z-index: 999999999999

    .menu__topo
        display: block

    .social-menu
        display: block!important

.side-menu-wrapper > ul {
    padding:0;
    margin:0;
    overflow-y: auto;
    width:500px; }

.side-menu-wrapper > ul > li > a {
    display: block;
    padding: 6px 4px 6px 4px;
    color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    width: 45%;
    text-transform: uppercase; }

.side-menu-wrapper > ul > li > a:hover {
    color : rgba(208,187,0,0.63); }

.side-menu-wrapper > a.menu-close {
    padding: 9px 0 4px 23px;
    color: #323232;
    display: block;
    margin: -31px 10px -10px -21px;
    font-size: 2.1875rem;
    text-decoration: none;
    text-align: right;
}

.side-menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
header#masthead {
    position: fixed;
    z-index: 9999;
    width: 100%; }

@media(max-width:992px)
    ul#menu-menu_site-1 li a
        display: block;
        padding: 6px 4px 6px 4px;
        color: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        text-decoration: none;
        width: 45%;
        text-transform: uppercase;
        border-bottom: 1px solid;

        &:hover
            color: #f0c823


.busca__click
    display:none

.busca_color 
    color: #ccc!important
    font-weight: 700
    cursor: pointer

.busca__ativa
    display: block
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 25px
    z-index: 9
    width: 84%

    input#s 
        font-size: 22px
        text-transform: uppercase
        color: #cccccc
        font-style: normal
        height: 100px
        border-radius: 2px
        border: none
        padding-left: 45px

    input#searchsubmit 
        position: absolute
        width: 10px
        right: 35px
        top: 53px
        background: #fff
        border: none
        background: url(../../img/lupas.png)
        background-repeat: no-repeat
        background-size: 100%

.itens--form
    position: relative

.dark
    &:before 
        content: ''
        display: block
        z-index: 8
        background: #000000de
        width: 100%
        height: 100vh
        left: 50%
        position: absolute
        transform: translate(-50%)

.closeb 
    position: absolute
    right: -25px
    top: -10px
    font-size: 20px
    font-weight: 700
    cursor: pointer

.menu_color 
    color: #ccc!important
    font-weight: 700
    cursor: pointer

.menu__left
    display: none
    width: 45vh
    position: absolute
    z-index: 99
    background: #fff
    left: -100vh
    top: 0
    height: 100vh
    padding: 100px 0px
    transition: all 150ms ease-in-out

    @media(max-width: 992px)
        padding: 100px 10px

    &:before
        content: '';
        width: 100vh;
        background: #fff;
        display: block;
        position: absolute;
        height: 100vh;
        left: -400px;
        top: 0;
        z-index: 1;

        @media(max-width: 992px)
            width: 61vh

     .item1, .item5
        margin: 0!important



.menu__ativo
    display: block
    left: 0
    transition: all 150ms ease-in-out
    z-index: 9999

.menu__lista
    position: absolute
    z-index: 99
    .info_contato
        margin-top: 30px

    li
        margin-bottom: 10px

        a 
            font-size: 16px
            text-transform: none
            letter-spacing: 1px
            font-weight: 400
            text-shadow: 0 0

    .social__footer
        max-width: 100%
        margin-top: 30px

        ul
            margin-top: 10px

            li
                margin: 0

.siga_h
    color: #313130

.closem
    color: #ccc
    font-weight: 700
    font-size: 25px
    top: 20px
    position: absolute
    right: 20px
    cursor: pointer
    z-index: 9999

.foto--banner
    img
        transform: scale(1.332)
        paddgin-top: 65px

 

 
        
body.moving
    .header-full
        background: #fff
        top: 0px
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25)
    .menu-header
        padding: 12px 15px
        @media(max-width: 992px)
            padding-top: 25px

.page-template-contratar
    .topheader
        background: #addbb6
        min-height: 700px
        position relative

        h2
            font-size 53px
            color: #fff
            font-weight: 700
            width: 100%
            position: absolute
            transform: translateY(-50%)
            top: 50%
            text-align: center

            @media(max-width 991px)
                font-size 40px
                transform: translateY(-40%)
                top: 40%

        ul

            transform: translateY(-60%)
            top: 60%  
            position: absolute
            width 100%
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            margin-top 20px

            @media(max-width 425px)
                transform: translateY(-70%)
                top:70%  

               
            li
                width: 20%
                height: 60px
                font-size: 44px
                color: #666666
                border: 1px solid #fff
                border-radius: 30px
                display: flex
                align-items: center
                justify-content: center
                margin: 10px
                cursor pointer

                @media(max-width 991px)
                    width 100%

            li.active__aba
                background #fff
