@charset 'UTF-8';

#wp-admin-bar-wpaas .dashicons-admin-generic::before {
	top: 2px;
}

#wp-admin-bar-wpaas-admin-bar-my-account > .ab-item::before {
	display: block !important;
	content: "\f310" !important;
	top: 2px;
}

#wp-admin-bar-wpaas .ab-sub-wrapper .dashicons {
	margin-top: 4px;
	font: 16px/1 'dashicons';

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wp-admin-bar-wpaas-pro-connection-key,
.wp-admin-bar-wpaas-woocommerce-extensions,
.wp-admin-bar-wpaas-help {
	line-height: inherit !important;
	display: block;
	font-size: inherit !important;
}

.wpaas-help-support {
	background-color: #FAFAFA;
	position: fixed;
	bottom: 0;
	left: 0;
	height: calc(100% - 32px);
	width: 100%;
	max-width: 33%;
	left: -33%;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
	transition: left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	z-index: 999;
}

.wpaas-help-support.visible {
	left: 0;
}

.wpaas-help-support .close {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 30px;
	webkit-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	opacity: 0.8;
}

.wpaas-help-support .close:hover {
	opacity: 1;
	transform: scale(1.1);
}

.wpaas-help-support .preloader {
	margin: 0 auto;
	width: 22px;
}

.wpaas-help-support iframe {
	height: 100%;
	width: 100%;
}

#mwp_woocommerce_extensions_dialog form.extensions {
	max-height: 350px;
	overflow: scroll;
}

#mwp_woocommerce_extensions_dialog.ui-dialog-content .extensions {
	background: #F5F7F9;
	padding: 1em;
}

#mwp_woocommerce_extensions_dialog li.plugin {
	display: flex;
	align-items: baseline;
	margin-bottom: 1.5em;
}

#mwp_woocommerce_extensions_dialog li.plugin.installing {
	opacity: 0.5;
}

#mwp_woocommerce_extensions_dialog li.plugin:last-child {
	margin-bottom: 0;
}

#mwp_woocommerce_extensions_dialog li.plugin .content {
	width: 100%;
}

#mwp_woocommerce_extensions_dialog li.plugin .install-error {
	color: #ff8d8d;
	margin-left: 15px;
}

#mwp_woocommerce_extensions_dialog li.plugin .install-success {
	color: #5ca15c;
	margin-left: 15px;
}

#mwp_woocommerce_extensions_dialog li.plugin:not(:last-child) .content {
	padding-bottom: 1em;
	border-bottom: 1px solid #d7d7d8;
}

#mwp_woocommerce_extensions_dialog li.plugin input[type="checkbox"],
#mwp_woocommerce_extensions_dialog li.plugin img.loader {
	flex: none;
	margin-left: 15px;
}

#mwp_woocommerce_extensions_dialog p.header-msg {
	margin-top: 0;
}

#mwp_woocommerce_extensions_dialog.ui-dialog-content .extensions .preloader {
	display: block;
	margin: 3em auto;
}

#mwp_woocommerce_extensions_dialog .auth-notice {
	margin: 2em 0;
}

#mwp_woocommerce_extensions_dialog .auth-notice a {
	text-decoration: underline;
}

#mwp_woocommerce_extensions_dialog .auth-notice .action {
	margin-top: 1em;
}

@media only screen and (max-width: 960px) {
	.wpaas-help-support {
		max-width: 50%;
		left: -50%;
	}
}

@media screen and ( max-width: 782px ) {

	#wpadminbar li#wp-admin-bar-wpaas {
		display: block;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-admin-generic:before {
		top: 0;
		font-size: 33px;
	}

	.wpaas-help-support {
		height: calc(100% - 46px);
		max-width: 100%;
		left: -100%;
	}

}

@media (prefers-reduced-motion: reduce) {
	.wpaas-help-support {
		transition: none;
	}
}

/* RTL Support */
body.rtl .wpaas-help-support {
	right: -33%;
	left: 100%;
}

body.rtl .wpaas-help-support.visible {
	left: 67%;
}

body.rtl .wpaas-help-support .close {
	left: 5px;
}

@media only screen and (max-width: 960px) {
	body.rtl .wpaas-help-support.visible {
		right: -50%;
		left: 50%;
	}
}

@media screen and ( max-width: 782px ) {
	body.rtl .wpaas-help-support.visible {
		left: 0;
	}
}
