
html, body
    margin: 0
    padding: 0
    display block
    height 100%

html
    font-size: 100%

body
    font-family 'Overpass', sans-serif !important
    color: config.color[0]
    display: block
    outline: none

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    
    & .navbar-dark 
        & .navbar-nav 
            & .nav-link
                color #ffffff

@media (min-width: 1200px)
    .container
        max-width 1300px !important



$fixed-body
    max-height 100vh
    overflow hidden



