
html, body
    margin: 0
    padding: 0
    display block

html
    font-size: 100%

body
    font: normal 400 config.font.size[0] unquote(config.font.family[0])
    color: config.color[0]
    display: block
    outline: none

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

 

$fixed-body
    max-height 100vh
    overflow hidden



.is-menu-break
    @extends $fixed-body

#wpadminbar
    transition: all .3s ease
    max-height 70px
    position fixed
// [class*=-container]
//     width: calc(100vw - 40px)
//     max-width: 1040px
//     margin: 0 auto

.wrapper
    position relative
    max-width: 1570px
    padding: 0 15px
    margin: 0 auto

::-moz-selection
    background-color: #FFA525
    color: white

::selection
    background-color: #FFA525
    color: white

[role=banner]
    white-space: nowrap
    overflow: hidden
    display: flex

    a, img
        display block


    > div
        display: inline-block
        width: 100%
        overflow: hidden
        flex: 0 0 100%

        img
            max-width: 100%

iframe
    max-width: 100%

#sprite-svg
    display none

.text
    h3, h4
        font-weight 700
        text-transform uppercase
        line-height 1

    h3
        font-size 24px
        padding 20px 0

    h4
        font-size 16px
        padding 15px 0

    p
        font-size 15px
        line-height 25px
        padding 10px 0

.box
    h3
        font-size 25px

.row-desc
    margin 50px 0

    .text
        margin 0 auto 50px

    figure
        min-height 90px

figure
    max-width: 100%

.alignleft
    float: left
    margin-right: 10px

.text-right
    text-align right

.text-center
    text-align center

.title
    font-size 24px
    font-weight 700
    text-transform uppercase
    line-height 1
    padding 24px 0




.icon-facebook
    fill: #3b5998

input
    height 40px
    padding: 0 15px
    &[type=text], &[type=email], &[type=password]
        font-style italic
        color #8a8a8a
        font-size 14px

        &:focus
            +placeholder()
                color: transparent

pre
    max-width: 100%
    overflow: hidden

input, textarea
    width 100%

div.wpcf7-response-output
    font-size 11px
    padding 10px
    margin 10px 0

form
    display block

div.wpcf7 .ajax-loader
    display none

.entry-content
    font-size 14px

    h1
        font-size 22px
        font-weight 700
        text-transform uppercase
        margin 20px 0


    p
        margin 15px 0

.subtitle
    display: inline-block

    span
        display: block
        text-align: right
        font-size: 14px
        font-weight: 400
        padding-right: 15px
        text-transform: none


.share
    display: flex
    flex-wrap: wrap
    justify-content center

    a
        background: config.color[1]
        color: #ffffff
        line-height: 1
        padding: 10px 20px
        text-transform: uppercase
        margin: 2px
        font-size: 12px

        &:hover
            text-decoration: none
            background: darken(config.color[1], 20%)

aside
    text-align: center


@media (min-width: 768px)
    .sm-text-right
        text-align right

 

.como__funciona 
    background #badab5 
    padding 60px 0  
    position relative 

    hr
        height: 1px
        display: block
        background: #fff
        position: absolute
        top: 40% 
        width: 100%

        @media(max-width: 991px)
            display none

    span
        font-size 60px
        color: #424242

    ul.funciona__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
        margin-top: 80px

        li
            text-align center
            flex: 0 0 20%
            margin-bottom: 60px

            .funciona__list-image
                img
                    background #badab5 

            .funciona__list-title
                font-size 45px
                line-height 45px
                color: #424242
                margin-top 30px
                margin-bottom 20px
                padding 10px 

            .funciona__list-text
                color: #424242
                font-size 16px
                line-height: 30px
                padding 10px 
        

.sobre
    padding 60px 0 
    .wrapper
        display flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center

    span
        font-size 60px
        color: #424242
        display block
        margin-bottom: 80px

    p
        font-size 16px
        color: #424242

    &__left
        max-width 42%
        
        p
            line-height 28px

    &__right
        max-width 50%

        ul
            display flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center

            li
                flex 0 0 50%
                text-align center
                margin-bottom 50px

                .sobre__list-image
                    margin-bottom 20px

                .sobre__list-title
                    font-size 30px
                    color: #424242
                    line-height 54px
                    text-transform: uppercase

                .sobre__list-text
                    max-width 290px
                    margin 0 auto 
                    font-size 16px
                    color: #424242
                    line-height 28px


.depoimentos
    margin-top 50px

    .wrapper
        border 4px solid #badab5
        padding 40px 15px


    .slick-track
        .slick-slide
            &:nth-child(2n + 0)
                .depoimentos__list-text
                    background #badab5
                    border: 4px solid #badab5
                    position: relative

                    &:after , &:before
                        top: 100%
                        left: 50%
                        border: solid transparent
                        content: " "
                        height: 0
                        width: 0
                        position: absolute
                        pointer-events: none

                    &:after 
                        border-color: rgba(186, 218, 181, 0)
                        border-top-color: #badab5
                        border-width: 20px
                        margin-left: -20px

                    &:before 
                        border-color: rgba(186, 218, 181, 0)
                        border-top-color: #badab5
                        border-width: 26px
                        margin-left: -26px
                    

    &__list
        display flex
        flex-wrap: wrap
        justify-content: space-between

        &-item
            padding 30px
            text-align center


        &-text
            font-size 16px
            color: #424242
            line-height: 28px
            padding 40px 30px

            p
                display flex

                &:before
                    content ''
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAASCAAAAAB6TnHxAAAAAnRSTlMA91VKqocAAACOSURBVBjTfc4hEwQhCAVg/r/NZrtGs12ymbbZbCbjFZv1BFwh7CzFN5/MU5hrxhWDa1OmrJyBgndrhFugTFycO1wlL+5OefjDkU5fuCJJHhN+fN3lOV6uKwA3R1HuC5Qgc9f+21mBr2FdAXzhgIhlM+UEcX+btvKdEbLh65mbcjXclbvhqTwtf5TRcLr5D8a3FUNZurRMAAAAAElFTkSuQmCC')
                    background-repeat no-repeat
                    display: block
                    width: 81px
                    height: 50px

        &-title
            font-size 16px
            color: #424242
            line-height: 28px
            font-weight 700

        &-profissao
            color: #878787
            line-height 24px

        &-image
            margin 30px 0 10px
            img
                margin 0 auto


.slick-dots
    display flex
    justify-content: center
    margin-bottom 50px

    li
        button
            font-size: 0
            width: 30px
            height: 15px
            border: none
            background: #b2b2b2
            border-radius: 40%
            margin: 0 5px

    li.slick-active
        button 
            background #badab5

.servicos
    margin-top 50px
    span
        font-size 60px
        color: #424242
        display block
        margin-bottom: 60px

    &__list
        &-item
            margin-bottom 50px
            position relative
            min-height: 715px
            background-repeat: no-repeat!important
            background-position center!important 

        &-info
            position relative
            max-width 500px
            background #badab5
            padding : 80px 70px



        &-title
            font-size: 70px
            color: #424242
            line-height: 54px
            margin-bottom: 60px

        &-descricao
            font-size :16px
            color: #424242
            line-height : 28px
            margin-bottom: 60px

        &-link
            a
                font-size :31px
                color: #424242  
                text-decoration : underline 
                font-style : italic

                &:after
                    content: ''
                    font-size 50px
                    color: #fff
                    position: absolute
                    right 30px
                    bottom 30px
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAA4CAMAAABuU5ChAAAAHlBMVEX////6+vr8/Pz5+fn7+/v4+Pj+/v739/f9/f339/fl7oFKAAAACnRSTlP///////////8AsswszwAAAE1JREFUSMft0bENwDAMA8GXbUnx/gtnAqYQUvJb4ipydd16Q08BOXELtp2dnZ2ddHFEBUttSTKp6KG7O0QPHLWlf7ezs7P73QXVE/fZC5CqX8GrnR/rAAAAAElFTkSuQmCC')
                    display block
                    width: 50px
                    height: 50px